{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}" style="position: relative; top: 3px; color: white">Issue tracker administration</a>
    </h1>
{% endblock %}
    

{% block extrahead %}
    <style type="text/css">
        :root {
            --link-selected-fg: red;
            --link-hover-color: rgb(202, 197, 209);
        }
    </style>
{% endblock %}

{% block nav-global %}{% endblock %}
