{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block content_title %}
    <h1> Issues </h1>
{% endblock %}

{% block result_list %}
<div>
<h2>Solution time</h2>
           <strong>Shortest</strong> {{ duration_min }} &nbsp;&nbsp;
           <strong>Longest</strong> {{ duration_max }} &nbsp;&nbsp;
           <strong>Average</strong> {{ duration_avg }} &nbsp;&nbsp;
           <strong>Total</strong> {{ duration_sum }} &nbsp;&nbsp;
</div>
{% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
{% result_list cl %}
{% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
{% endblock %}

{% block pagination %}{% endblock %}